@font-face {
  font-family: "icon"; /* Project id 3463035 */
  src: url('iconfont.woff2?t=1655739132738') format('woff2'),
       url('iconfont.woff?t=1655739132738') format('woff'),
       url('iconfont.ttf?t=1655739132738') format('truetype');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e60b";
}

.icon-24px:before {
  content: "\e60e";
}

.icon-yincangmulu:before {
  content: "\e823";
}

.icon-link:before {
  content: "\e772";
}

